{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<h1 class="text-center">Mon compte</h1>
<h3 class="text-center mt-5">Bienvenus {{app.user.firstname}} sur votre espace personnel</h3>
<p class="text-center"> de votre espace vous pouvez mettre à jour vos information personnel</p>
<p class="text-center">
<a href="{{path('app_change_password')}}">-changer mon mot de Passe</a>
<a href="{{path('app_address')}}" class="ms-5">-ajouter une adresse</a>

</p>
{% endblock %}
