{% extends 'base.html.twig' %}

{% block title %}Insription{% endblock %}

{% block body %}
<h1 class="text-center">Je crée mon compte</h1>
<div class="container col-5">
{{form(form)}}
</div>
{% endblock %}
